bin
obj
pkg
*.suo
*.user
packages
refs
*.snk
/build/Debug
/build/Release
/Umbraco.ModelsBuilder.Console/build
/lib/umbraco*
/debug/
/Umbraco.ModelsBuilder.Tests/App_Data/
.vs/
build/nuget.exe
Umbraco.ModelsBuilder/App_Data/NuGetBackup/*
.Umbraco.ModelsBuilder.boltdata/*
*.pdb/
_ReSharper.Caches/*

build/temp/
build/hooks/
build.tmp/
build.out/