bin
obj
pkg
*.suo
*.user
packages
refs
*.snk
/build/Debug
/build/Release
/ZpqrtBnk.ModelzBuilder.Console/build
/lib/umbraco*
/debug/
/ZpqrtBnk.ModelzBuilder.Tests/App_Data/
.vs/
build/nuget.exe
ZpqrtBnk.ModelzBuilder/App_Data/NuGetBackup/*
.ZpqrtBnk.ModelzBuilder.boltdata/*
*.pdb/
_ReSharper.Caches/*
App_Data/

build/temp/
build/hooks/
build.tmp/
build.out/