# common
bin
obj
pkg
*.suo
*.user
packages
refs
*.snk
.vs/

# temp
*.pdb/
_ReSharper.Caches/*
App_Data/

# build artifact that *has* to be there
/src/ZpqrtBnk.ModelsBuilder.Extension/ItemTemplate.Etc/Umbraco Models.zip

# build
build/temp/
build/hooks/
build.tmp/
build.out/

# eof
src/.idea
